/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
npm-debug.log
yarn-error.log
/.idea
/.vscode
.vapor/
.env.production
.env.staging
db-reset.sh
.env.qa
.env.uat
public/mix-manifest.json
aliases
public/.DS_Store
public/images/.DS_Store
public/images/svg/.DS_Store
.DS_Store
